.back{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://www.wallpapertip.com/wmimgs/3-37761_htc-hd-wallpapers-1080p-abstract-orange-and-blue.jpg');
    background-position:50% 50%;
    opacity: 0.5;
  }